.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

label {
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  text-align: right;
  margin-left: 8px;
}

#radio {
  display: flex;
}

th {
  border-bottom: 1px solid #eee;
}

table {
  border-collapse: collapse;
  width: 100%;
}
